In [1]:
import pickle
import pandas as pd

In [2]:
with open('checkpoints/ours_with_coreness_real.pickle', 'rb') as f:
    results: dict[str, float] = pickle.load(f)

results = [
    [*key.split('-'), val] \
    for key, val in results.items()
]
results = pd.DataFrame(results, columns=['data', 'epsilon', 'strategy', 'coreness', 'score'])
results = results.astype(dict(
    epsilon=float,
    strategy=str,
    coreness=bool,
    score=float
))

results_max = results.loc[results.groupby('data')['score'].idxmax(), :].copy()
results_max = results_max.reset_index(drop=True)

In [3]:
results

         data  epsilon strategy  coreness     score
0    polbooks     0.05     prob      True  0.032158
1    polbooks     0.05     prob      True  0.141089
2    polbooks     0.05     freq      True  0.597922
3    polbooks     0.05     freq      True  0.502483
4    polbooks     0.10     prob      True  0.058224
..        ...      ...      ...       ...       ...
191   dolphin     0.40     freq      True  0.645475
192   dolphin     0.50     prob      True  1.000000
193   dolphin     0.50     prob      True  1.000000
194   dolphin     0.50     freq      True  0.651677
195   dolphin     0.50     freq      True  0.579151

[196 rows x 5 columns]

In [4]:
results_max

       data  epsilon strategy  coreness     score
0   dolphin     0.10     freq      True  1.000000
1  football     0.20     freq      True  0.926879
2    karate     0.40     prob      True  1.000000
3   mexican     0.20     freq      True  0.299538
4  polbooks     0.05     freq      True  0.597922
5   railway     0.15     freq      True  0.684005
6    strike     0.05     prob      True  1.000000

In [5]:
with open('./params/real.pickle', 'wb') as f:
    pickle.dump(results_max, f)

In [6]:
with open('checkpoints/ours_with_corenessgg.pickle', 'rb') as f:
    results: dict[str, float] = pickle.load(f)

results = [
    [*key.split('-'), val] \
    for key, val in results.items()
]
results = pd.DataFrame(results, columns=['data_num_1', 'data', 'epsilon', 'strategy', 'coreness', 'score'])
results = results.astype(dict(
    epsilon=float,
    strategy=str,
    coreness=bool,
    score=float
))
results.data = results.data_num_1 + '-' + results.data
results = results.drop(columns=['data_num_1'])

results_max = results.loc[results.groupby('data')['score'].idxmax(), :].copy()
results_max = results_max.iloc[[0, 2, 3, 4, 5, 6, 7, 8, 9, 1], :]
results_max = results_max.reset_index(drop=True)

In [7]:
results

     data  epsilon strategy  coreness     score
0     1-1     0.05     prob      True  0.174530
1     1-1     0.05     prob      True  0.485112
2     1-1     0.05     freq      True  0.780938
3     1-1     0.05     freq      True  0.999505
4     1-1     0.10     prob      True  0.138643
..    ...      ...      ...       ...       ...
235  1-10     0.30     freq      True  0.000000
236  1-10     0.40     prob      True  0.053097
237  1-10     0.40     prob      True  0.165182
238  1-10     0.40     freq      True  0.000000
239  1-10     0.40     freq      True  0.000000

[240 rows x 5 columns]

In [8]:
results_max

   data  epsilon strategy  coreness     score
0   1-1     0.20     freq      True  1.000000
1   1-2     0.15     freq      True  1.000000
2   1-3     0.20     freq      True  0.999899
3   1-4     0.30     freq      True  1.000000
4   1-5     0.40     freq      True  0.999594
5   1-6     0.10     freq      True  0.998220
6   1-7     0.40     freq      True  0.994279
7   1-8     0.10     freq      True  0.981113
8   1-9     0.05     freq      True  0.801337
9  1-10     0.10     freq      True  0.199446

In [9]:
with open('./params/TC1.pickle', 'wb') as f:
    pickle.dump(results_max, f)

In [10]:
for data_num in (1, 2, 3, 4, 5):
    with open(f'./checkpoints/ours_with_coreness_tc2_{data_num}.pickle', 'rb') as f:
        time_05, time_50 = pickle.load(f).values()
    
    print(f'TC2/tc1{data_num}.dat \u2502 epsilon 0.05: {time_05:7.2f}s \u2502 epsilon 0.50: {time_50:7.2f}s')

TC2/tc11.dat â”‚ epsilon 0.05:   39.16s â”‚ epsilon 0.50:   38.93s
TC2/tc12.dat â”‚ epsilon 0.05:   82.92s â”‚ epsilon 0.50:   77.23s
TC2/tc13.dat â”‚ epsilon 0.05:  182.78s â”‚ epsilon 0.50:  167.79s
TC2/tc14.dat â”‚ epsilon 0.05:  376.36s â”‚ epsilon 0.50:  341.21s
TC2/tc15.dat â”‚ epsilon 0.05:  764.31s â”‚ epsilon 0.50:  710.16s